div.header.pane-row
  a.btn.btn-default(href='#login')
    span.glyphicon.glyphicon-chevron-left
    |  Login
  
div.body.pane-row.scroll-y(data-bind='foreach: cheeps')

    a.unstyled(data-bind="attr: { href: '#cheeps/' + _id }")
      article.media
        div.pull-left(href='#')
          img.media-object.img-rounded.muppet(data-bind="css: $parent.muppetMe(author)")
        div.media-body
          h1.media-heading.small(data-bind='text: author')
          span(data-bind='text: body')
    hr
      
form.footer.pane-row
  label.sr-only(for='status') Status
  div.input-group
    input#status.form-control(type='text', placeholder="What's on your mind?", data-bind='value: status')
    span.input-group-btn
      button.btn.btn-default(data-bind='click: post') Go