div.header.pane-row
  a.btn.btn-default(href='#login')
    span.glyphicon.glyphicon-chevron-left
    |  Login
  
div.body.pane-row.scroll-y(data-bind='foreach: cheeps')

    a.unstyled(data-bind="attr: { href: '#cheeps/' + id }")
      article.media
        div.pull-left(href='#')
          img.media-object.img-rounded(data-src='holder.js/64x64')
        div.media-body
          h1.media-heading.small(data-bind='text: author')
          span(data-bind='text: body')
    hr
      
div.footer.pane-row
  div.input-group
    input.form-control(type='text', placeholder="What's on your mind?")
    span.input-group-btn
      button.btn.btn-default Go