div.header.pane-row
  a.btn.btn-default(href='#cheeps')
    span.glyphicon.glyphicon-chevron-left
    |  Back
  
div.body.pane-row.scroll-y

  article
    div.media
      div.pull-left(href='#')
        img.media-object.img-rounded(data-src='holder.js/64x64')
      div.media-body
        h1.media-heading.small Dilbert
        small Monday at 14:25
    hr
    div  
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec 
      | quis dolor eu nisl egestas scelerisque nec nec nunc. Sed porta 
      | tempor orci in mattis. Nunc ut augue nibh. Praesent pulvinar ut 
      | elit eget ornare. Duis congue lectus ut mi sollicitudin, non 
      | gravida arcu pharetra.