doctype 5
html
  head
    title chitter
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    section#login.selected.left.pane
      include login
      
    section#cheeps.middle.pane
      include cheeps
      
    section#cheep.right.pane
      include cheep
      
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/sammy.js/0.7.4/sammy.min.js')
    script(src='http://imsky.github.io/holder/holder.js')
    script(src='/javascripts/app.js')