form.center3
      
  h1.branding
    | chitter
    img(src='images/teeth.png', style='width:50px')
  
  div.form-group
    label.sr-only(for='nickname') Nickname
    input#nickname.form-control(type='text', placeholder='Enter a Nickname', data-bind="value: nickname, valueUpdate: 'afterkeydown'")
  
  button.btn.btn-default.pull-right(data-bind='enable: canLogin, click: login') Join In