form.center
      
  h1.branding
    | chitter
    img(src='images/teeth.png', style='width:50px')
  
  div.form-group
    label.sr-only(for='nickname')
    input#nickname.form-control(type='text', placeholder='Enter a Nickname')
  
  a.btn.btn-default.pull-right(href='#cheeps') Join In