.muppet
  width 64px
  height 64px
  background-image url(../images/muppets.jpg)
  
.muppet-1
  background-position 0 0

.muppet-2
  background-position -64px 0

.muppet-3
  background-position -128px 0

.muppet-4
  background-position -192px 0
  
.muppet-5
  background-position 0 -64px

.muppet-6
  background-position -64px -64px

.muppet-7
  background-position -128px -64px

.muppet-8
  background-position -192px -64px
  
.muppet-9
  background-position 0 -128px

.muppet-10
  background-position -64px -128px

.muppet-11
  background-position -128px -128px

.muppet-12
  background-position -192px -128px
  
.muppet-13
  background-position 0 -192px

.muppet-14
  background-position -64px -192px

.muppet-15
  background-position -128px -192px

.muppet-16
  background-position -192px -192px