transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments
    
center(width, height)
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  margin auto
  max-width width
  max-height height
  
radial-background(shape, colourA, colourB)
  background ((colourA/2) + (colourB/2))
  background -webkit-radial-gradient(shape, colourA, colourB)
  background radial-gradient(shape, colourA, colourB)