// Mix-ins
transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

// Layout
body
  margin 0
  overflow hidden
    
.pane
  position absolute
  width 100%
  height 100%
  transition left 0.25s ease-in-out
  
.left.pane
  left -100%
  
.middle.pane
  left -100%
  
.selected.pane + .middle.pane
  left 100%

.right.pane
  left 100%
  
.selected.pane
  left 0