doctype 5
html
  head
    title chitter : Design Infodeck
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/decks.css')
  body.impress-not-supported
    div#impress
    
      section#chitter.slide
        h1.logo
          | chitter
          img(src='../images/decks/teeth.png')
        
      section.slide architecture
      section.slide technologies
      section.slide why node?
      section.slide rest api
      section.slide jade
      section.slide stylus
      section.slide coffee script
      section.slide getCheeps
      section.slide postCheep
      section.slide getCheep
      section.slide client
      section.slide shell
      section.slide login
      section.slide cheeps
      section.slide cheep
      section.slide developed for the cloud
      section.slide developed in the cloud
      section.slide what's next?
      section.slide overview